In [2]:
import pandas as pd
pd.__version__

'1.0.5'

In [ ]:
#1 Series()

In [ ]:
1) pd.Series(list, index = [ ])
2) pd.Series(값 , index = [ ])
3) pd.Series(dict)

In [3]:
# 1)
data = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
print(data)
print(data.values) # data.values
print(data.index) # data.index
print(data[1:3]) # data[index : index]
print(data['a':'b'])

a    1
b    2
c    3
d    4
e    5
dtype: int64
[1 2 3 4 5]
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
b    2
c    3
dtype: int64
a    1
b    2
dtype: int64

In [4]:
#2) 
data1 = pd.Series(5, index =[1,2,3,4,5])
print(data1)
#3) 
one_dict = {"a":10, "b": 20, "c":30, "d" : 40 }
one_dict_pd = pd.Series(one_dict)
print(one_dict_pd)

1    5
2    5
3    5
4    5
5    5
dtype: int64
a    10
b    20
c    30
d    40
dtype: int64

In [10]:
# DataFrame()

In [ ]:
1) pd.DataFrame( { 'columns_name1': Series1, 'columns_name2': Series2  } )
# Dict가 들어가있음 / Series안에 index와 데이터 값이 있음
# 이 경우에는 index가 정해져 있음
2) pd.DataFrame(Series, columns = ["Columns_name"])
# 하나만
3) pd.DataFrame( [  {"columns_name1" : data1 }, {"columns_name2" :  data2   } ], index = [ ] )
# [  ] 안에 {  } 가 여러개 << { Dict } 하나가 가로 줄 
# 여러개를 DataFrame형태로

In [ ]:
1) pd.DataFrame.index
2) pd.DataFrame.columns

In [5]:
# 1)
Plus = pd.DataFrame({ "_data_": data , '_one_dict_pd_' : one_dict_pd })
Plus

   _data_  _one_dict_pd_
a       1           10.0
b       2           20.0
c       3           30.0
d       4           40.0
e       5            NaN

In [7]:
Plus.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [8]:
Plus.columns

Index(['_data_', '_one_dict_pd_'], dtype='object')

In [17]:
# 2)
pd.DataFrame(data, columns = ['columns_name'] )

   columns_name
a             1
b             2
c             3
d             4
e             5

In [21]:
# 3)
data3 = [{'a': i, 'b': 2*i}
         for i in range(3)]
pd.DataFrame(data3, index=["one",'two','three'])

       a  b
one    0  0
two    1  2
three  2  4

In [23]:
# (3)
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 1, 'c': 2, 'd' : 4 }], index =["one",'two'])

       a  b    c    d
one  1.0  2  NaN  NaN
two  NaN  1  2.0  4.0

In [11]:
import numpy as np
pd.DataFrame(np.random.rand(3,2), # row / columns
            columns = ["foo", "bar"],
            index = ["A", "B", "C"])

        foo       bar
A  0.275017  0.524784
B  0.581557  0.569195
C  0.774276  0.433681

In [28]:
A = np.zeros(3, dtype= [('A1','i8'),("B2",'f8')] ) # 8 > 몇 바이트 짜리의 데이터 타입이냐
A     # columns . datatype

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A1', '<i8'), ('B2', '<f8')])

In [30]:
pd.DataFrame(A)

   A1   B2
0   0  0.0
1   0  0.0
2   0  0.0

In [41]:
ind = pd.Index([1,2,3,4,5], dtype = "i8")
ind

Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [42]:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])
print(indA & indB) # intersecion
print(indA | indB) # union
print(indA ^ indB) # union - intersecion # 차집합

Int64Index([3, 5, 7], dtype='int64')
Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')
Int64Index([1, 2, 9, 11], dtype='int64')

In [ ]:
# 데이터 부분 가져오기
1) Series형태는 ['columns name']
2) DataFrame형태는 [['columns name','columns name']]

In [20]:
Plus = pd.DataFrame({ "_data_": data , '_one_dict_pd_' : one_dict_pd })
Plus

   _data_  _one_dict_pd_
a       1           10.0
b       2           20.0
c       3           30.0
d       4           40.0
e       5            NaN

In [44]:
#1)
Plus["_data_"] # Series로 가져옴

a    1
b    2
c    3
d    4
e    5
Name: _data_, dtype: int64

In [95]:
Plus._data_

a    1
b    2
c    3
d    4
e    5
Name: _data_, dtype: int64

In [45]:
# 2)
Plus[["_data_"]] # DataFrame으로 가져옴

   _data_
a       1
b       2
c       3
d       4
e       5

In [19]:
# 2)
# 2개 이상이면 DataFrame 형태로 가져와야함
Plus[["_data_",'_one_dict_pd_']]

   _data_  _one_dict_pd_
a       1           10.0
b       2           20.0
c       3           30.0
d       4           40.0
e       5            NaN

In [ ]:
Plus.loc[ Rows, Columns ]

In [14]:
# 2)
Plus.loc[:,'_data_' : '_one_dict_pd_'] # 칼럼 기준 모든 Rows
# _data_ : columns 해서 원하는 컬럼들 가져옴

   _data_  _one_dict_pd_
a       1           10.0
b       2           20.0
c       3           30.0
d       4           40.0
e       5            NaN

In [74]:
Plus.loc["b":"c"] # 행만 가능
# Rows 기준 모든 Columns

   _data_  _one_dict_pd_
b       2           20.0
c       3           30.0

In [16]:
Plus[:3]

   _data_  _one_dict_pd_
a       1           10.0
b       2           20.0
c       3           30.0

In [102]:
Plus["_data_"][:3] # 무조건 칼럼

a    1
b    2
c    3
Name: _data_, dtype: int64

In [60]:
Plus[["_data_"]][:3]

   _data_
a       1
b       2
c       3

In [18]:
# 조건
Plus["_data_"] > 3

a    False
b    False
c    False
d     True
e     True
Name: _data_, dtype: bool

In [24]:
# 가로 두개면 DataFrame형태로 가져옴
Plus[["_data_"]]>3

   _data_
a   False
b   False
c   False
d    True
e    True

In [21]:
# 조건을 만족하는
Plus[ Plus["_data_"] > 3 ] # _data_ > 3을 만족하는 모든 rows와 columns

   _data_  _one_dict_pd_
d       4           40.0
e       5            NaN

In [ ]:
# 조건
Plus[Plus["_data_"] > 3 and Plus["_one_dict_pd_"] > 3]
Plus[Plus["_data_"] > 3 ,["d",'e'] ]
Plus[Plus["_data_"] > 3 ,["_one_dict_pd_"]]
# 이거 안됨;;;

In [29]:
Plus.loc['a'] # 행만 가능

_data_            1.0
_one_dict_pd_    10.0
Name: a, dtype: float64

In [28]:
Plus.loc[['a']]

   _data_  _one_dict_pd_
a       1           10.0

In [30]:
Plus.loc[["a","b"],['_data_']]
# index/ columns name > row 와 columns 이잖아 loc는?

   _data_
a       1
b       2

In [49]:
# 조건 만족 원하는 columns
Plus.loc[Plus["_data_"] > 3, ['_one_dict_pd_']] # 조건에는 [] X

   _one_dict_pd_
d           40.0
e            NaN

In [38]:
Plus[["_data_",'_one_dict_pd_']][:3]
# column과 index number

   _data_  _one_dict_pd_
a       1           10.0
b       2           20.0
c       3           30.0

In [80]:
# 인덱스 번호를 통해서 [[]]
Plus.iloc[[1,2,3]]

   _data_  _one_dict_pd_
b       2           20.0
c       3           30.0
d       4           40.0

In [41]:
Plus.iloc[:2]
# column number index number

   _data_  _one_dict_pd_
a       1           10.0
b       2           20.0

In [88]:
# 하나만
Plus["_data_"].value_counts()

5    1
4    1
3    1
2    1
1    1
Name: _data_, dtype: int64

In [89]:
Plus["_data_"].sort_values()

a    1
b    2
c    3
d    4
e    5
Name: _data_, dtype: int64

In [90]:
Plus.drop(["_data_"], axis = 1 ) # 여러개 제거할 수 있기에 [] 해주는게 편함

   _one_dict_pd_
a           10.0
b           20.0
c           30.0
d           40.0
e            NaN

In [ ]:
# 원본 수정 > inplace = True
#Plus.drop(["_data_"], axis = 1,  inpalce = True )

In [111]:
Plus.drop("a", axis = 0)

   _data_  _one_dict_pd_
b       2           20.0
c       3           30.0
d       4           40.0
e       5            NaN

In [42]:
import numpy as np

In [58]:
s1 = pd.Series(np.arange(10))
s2 = s1.map(lambda x: x**2)
s2 = pd.DataFrame(s2)

In [59]:
s2

    0
0   0
1   1
2   4
3   9
4  16
5  25
6  36
7  49
8  64
9  81

In [ ]:
s1.map(s2) > s1의 같은 위치의 데이터를 s2로 전환(없으면 Nan)
dict타입으로 많이 바꿔줌

In [ ]:
df["new_columns_name"] = df.sex.map({"male":0, "famale": 1})
> column sex의 male과 female을 0 과 1로 바꾼 새로운 컬럼을 만듬
# 말 그대로 추가
df.sex.replace({"male":0, "famale": 1})
> 변경
df.sex.replace(["male","female"],[0.1], inplace =True) 
> 원본 변경

In [ ]:
# 데이터 변경법 추가 # map # replace
df['column'] = df['columns'].map(dict)
df['column'].replace()

In [ ]:
# 특정 column에 함수 적용 lambda와 apply 사용
ex) f = lambda x : x.max() - x.min()
data.apply(f)
apply는 Series가 입력 데이터/ 즉 Column에 해당 함수를 적용
> 컬럼의 통계치를 낼때도 많이 사용

In [ ]:
그룹으로 묶어진 데이터를 matrix 형태로
h_index.unstack()
# 중요함

In [ ]:
np.array(dict(enumerate(df["race"].unique())))
dict타입으로 index  > 카테고리 숫자를 알려줌
그냥
df['column'].unique()하면 중복없이[ ]형태로 알려줌

In [ ]:
df.groupby(["Columns_기준","기준2"])["Columns_적용"].sum() 적용받는 연산
df[조건].groupby()[].sum()
df.groupby("sex").births.sum()

In [ ]:
h_index.sum(level= 0 or 1 ...) > level 0 끼리 더해라
level > index

In [ ]:
h_index.swaplevel() #인덱스 순서 바꿈
h_index.swaplevel().sortlevel(0)

In [ ]:
df.groupby('team').filter(lambda x : x["Rank"].sum() > 2  )

In [ ]:
pd.merge(df,df, on = "기준_컬럼의 이름", how= "inner, outer, left, right")

In [ ]:
범주형 변수
1) 대부분 텍스트 형태로 존재
2) 두 값의 차이를 구할 수 없음
3) 두 개 이상의 범주로 나눌 수 있음
- 명목 범주형 변수
-- 내재된 순서가 없음 ex) 이름, 취미..
- 순서 범주형 변수
-- 내재된 순서가 있음 ex) 상중하,0-10 10-20, 매우높음 높음 보통 낮음 매우 늦음

연속형 변수
1) 거의 모든 숫자형 값이 들어가 있음 ex) 시간 통화 온도 단계 가속도..
2) 두 값의 차이를 구할 수 있음
3) 숫자값이지만 반드시 연속일 필요는 없음 (사람 수 처럼 무조건 양의 정수)
(소수점이 필요없거나 정수만 필요한 경우도 있음)

In [ ]:
필요없는 데이터처럼 보일 수 있지만 머신러닝을 이용해서 데이터를 구할 수도 있음
데이터를 모을 때 분석목적에 맞는 데이터와 feature을 구해야함
변수 내 여러 유형의 데이터가 뒤엉켜있는 것은 좋지 않다(한가지 타입의 변수)

In [ ]:
연속형 데이터는 숫자로 존재하기에 인코드 할 필요가 없지만
범주형 데이터의 경우 여러가지의 형태가 있으므로 인코드해야한다.
텍스트형일 경우 텍스트 표현을 숫자로 변경해야하는데 다양한 방법이 존재
1) 범주형 데이터의 경우 내재된 순서가 있는 순서 범주형 일 수 있음
pd.astype 으로 숫자형식으로 변환할 수 있다.            # 카테고리 리스트의 순서를 적용하겠다는 것/ 없으면 알파벳 순으로 알아서
df['column'] = df['column'].astype(dtype = 'category', ordered = True, categories = '카테고리 리스트' )
# 이렇게도 가능
df['column'].cat.categories = ['카테고리 리스트']
# 주의사항
판다스가 이 범주형 객체를 적용하는 방식이 numpy 방식이 아닌 list 방식이므로 덧셈과 평균과 같은 수학적 numpy연산을 할 수 없다
머신러닝에 도움 안됨.
그래서 범주코드를 사용할 것!! > 카테고리로 하지말고 그냥 숫자를 넣어라
df['column'] = df['column'].cat.codes 사용하면 자동으로 0123~NAN > -1
2) 순서 범주형이 아닌 명목 범주형 변수여도 숫자로 데이터타입을 변환해야하지만
숫자로 변환했을 때 잘못된 방식으로 두 형식 사이에 차이를 만들기도 하는 오류를 범할 수 있음
조류가 1 포유류가 2 양서류가 3 이라 했을 때 조류와 양서류의 차이는 조류와 포유류의 차이보다 크다고 인식함 > 오류
이럴 때 get_dummies를 사용해서 one-hot 코딩을 할 수도 있다
데이터셋의 상관관계가 없기 때문에 부정확한 순서가 나오지 않지만
변수가 많은 경우 데이터셋이 너무 커질 수도 있다
또 df.loc[].astype()으로 특정 부문만 데이터 타입 변경 가능하다.

In [ ]:
sklearn에서 텍스트를 인코드해보자
Bag of Words
from sklearn.feature_extraction.text import CountVectorizer 
bow = CountVectorizer()
x = bow.fit_Transform(data)
bow.get_features_names() 를 통해 변수 확인 가능
x.toarray()로 확인가능
# 필요없는 데이터 제외가능 # 단어쌍에 적용 가능
영어 외 언어 또는 단어나 문자, 사이에 칸을 두지 않는 언어인 경우
x.tokenizer() 사용하자

In [ ]:
이미지는 scipy를 사용하자
from scipy import misc
img = misc.imread("")
type shape dtype 확인하자 
이미지를 축소할 수도 있다.
img = img[::2, ::2] (2개식)(좌우는 비슷하기 때문)
기본적으로 3 ~ 4차원으로 나온다.(상하 좌우 그림)(a,b,rgb R) 
img = (img/255.).reshape(-1,4) # red, green, blue, alpha(있을때)
없으면 reshape(-1,3)
회색톤 
red = img[:, 0]
green = img[:, 1]
blue = ing[:, 2]
gray = 0.299*red + 0.587*green + 0.114*blue
gray.shape = ('',)

In [ ]:
import scipy.io.wavfile as wavfile
sample_rate, audio_data = wavfile.read('')
샘플 속도   데이터
다수의 음성 자료를 사용하는 경우
웨이브 파일들이 전부 다른 샘플 속돌르 가지고 있는 상태에서는 이 파일들을 하나의 데이터셋에 모을 수 없다
샘플 속도가 모두 동일해야하는데 다르다면 음성파일을 늘러거나 뭉개서 속도를 같게 만들어야한다.

In [ ]:
numpy에서 NaN != none이다.    # 실패하면 NAN값으로 
pd.to_datetime(df['column'], errors = 'coerce')
pd.to_numeric(df['columns'], errors = 'coerce')

In [ ]:
시각화
히스토그램
1) 위치를 알려줌
- 변수의 범위 내 어디에 있는지보다는 변수가 취할 수 있는 가능한 값 내에 샘플이 어디에 위치할 수 있는지를 알 수 있음
( 어떤 범위 내애ㅔ 실제 변수가 있는지도 알 수 있음 )
- 개수를 알려줌 ( 샘플의 개수 )
횟수와 개수 모두 알려줌